[color]
  ui = 1
[core]
  autocrlf = false
  editor = vim
  safecrlf = true
[alias]
  ad = add
  bl = blame
  br = branch
  cm = commit
  cl = clone
  cm  = commit -v
  cma = commit -v --amend
  cmf = commit --fixup
  cmm = commit -m
  co = checkout
  cob = checkout -b
  df = diff
  dfc = diff --cached
  dfs = diff --stat
  gr = grep
  lop = log -p
  lsf = ls-files
  mg  = merge
  mga = merge --abort
  mgn = merge --no-ff
  pl  = pull
  plr = pull --rebase
  ps  = push
  rb  = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase -i
  re  = remote
  rmc = rm --cached
  rmr = rm -r
  rmrc = rm -r --cached
  st = status -sb
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  # alias list
  al = config --get-regexp alias.*
  # いい感じのグラフでログを表示
  #graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  graph = log --oneline --graph --all
  # 今日一日の作業を振り返る
  today = log --oneline --since='12 hour ago'
[diff]
  compactionHeuristic = true
[push]
  default = simple
[help]
  #autocorrect = 1
 
[user]
	email = tomotomo.y.1212@gmail.com
	name = Tomohito YABU
[credential]
	helper = cache --timeout=3600
